doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='pragma' content='no-cache')
    meta(http-equiv='Cache-Control' content='no-cache, must-revalidate')
    meta(http-equiv='expires' content='0')
    title Online hotpot
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    link(href='stylesheets\\MainSystem\\style.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-3.6.3.js' integrity='sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=' crossorigin='anonymous')
    script(src='javascripts/MainSystem/mainSystemOnReady.js')
    script(src='javascripts/MainSystem/FoodClass.js')
    script(src='javascripts/MainSystem/PlayerClass.js')
    script(src='javascripts/MainSystem/StringJsonBuilder.js')
    script(src='javascripts/MainSystem/ResponseEventListener.js')
    // <script disable-devtool-auto src="https://cdn.jsdelivr.net/npm/disable-devtool"></script>
    script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js' integrity='sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=' crossorigin='anonymous')
    style.
      /*選擇按鈕*/
      .mod-tab .tab
      {
      float:left;
      padding:10px 20px;
      border:1px solid #FFD78C;
      border-top: 1px solid #FFD78C;
      border-right:1px solid #FFD78C;
      background-color:#FF7300;
      }
      .header .tab:last-child
      {
      border-right:1px solid #ffffff;
      }
      /*下方框線*/
      .content
      {
      border-style:outset;
      border:3px solid #D68B00;
      width:606px;
      height: 400px;
      }
      .header::after
      {
      content:'';
      display:block;
      clear:both;
      }
      /*按下的顏色*/
      .mod-tab .header .active
      {
      background-color:#FFB366;
      }
      .mod-tab .content .panel
      {
      display:none
      }
      .mod-tab .content .active
      {
      display:block;
      }
      #tds table,#tds tr,#tds td{border:1px solid #000;}

  body

    .main
      .mod-tab(id="foodList")
              .header
                button.tab.active 肉品
                button.tab 海鮮
                button.tab 蔬菜
                button.tab 麵類
                button.tab 傳統火鍋料-1
                button.tab 傳統火鍋料-2
                button.tab 神秘食材
              .content
                .panel.active(id="1")
                  div
                    table(style='border:8px #FFC559 solid;' cellpadding='10' border='1')
                      tbody
                .panel(id="2")
                  table(style='border:8px #FFC559 solid;' cellpadding='10' border='1')
                    tbody

                .panel(id="3")
                  table(style='border:8px #FFC559 solid;' cellpadding='10' border='1')
                    tbody

                .panel(id="4")
                  table(style='border:8px #FFC559 solid;' cellpadding='10' border='1')
                    tbody

                .panel(id="5")
                  table(style='border:8px #FFC559 solid;' cellpadding='10' border='1')
                    tbody

                .panel(id="6")
                  table(style='border:8px #FFC559 solid;' cellpadding='10' border='1')
                    tbody

                .panel(id="7")
                  table(style='border:8px #FFC559 solid;' cellpadding='10' border='1')
                    tbody

      .record(tabindex='0')
        .playerInfo 個人資訊
        .history 遊玩紀錄
        .achievement 成就
      .infoZone
        .personalDetail
          .card
            .levelAndTitle
              .button.level
                p.number 1
              p.title NOOB
            .status
              p#name(style='display:none') #{name}
              .health.inRow
                .bar_base
                  .bar.hp
                i.bx.bxs-heart.bar_icon(style='color:#cf1a1a')
              .hungry.inRow
                .bar_base
                  .bar.sp
                i.bx.bxs-baguette.bar_icon(style='color:#8c2f08')
              .thirst.inRow
                .bar_base
                  .bar.wp
                i.bx.bxs-droplet.bar_icon(style='color:#0d62de')
        .menuZone
          .button#buy
            img#materialMenu(src='img/line.png')
          .button#foodList
            img#hotpotInfo(src='img/hotpot.png')
      .playZone
        .money 0$
        .hotpot
      .online
        .button.match 小遊戲
        .chat
          #container
            #status-box
              | Server: 
              span#status -
              |  / 
              span#online 0
              |  online.
            #content
            #send-box
              input#chatBox(type='text' placeholder='說點什麼？')
              input#chatSubmit(type='button' value='送出')
    script.
      const LEVEL = document.querySelector('.level');
      const  RECORD = document.querySelector('.record');
      LEVEL.addEventListener('click', ()=>{
      console.log(1);
      RECORD.classList.add('visible');
      RECORD.focus();
      })
      RECORD.addEventListener('focusout', ()=>{
      console.log(0);
      RECORD.classList.remove('visible');
      })
      const HP = document.querySelector('.hp');
      HP.setAttribute('style', 'width: 20%');
      const SP = document.querySelector('.sp');
      SP.setAttribute('style', 'width: 40%');
      const WP = document.querySelector('.wp');
      WP.setAttribute('style', 'width: 60%');
