doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Online hotpot
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    link(href='stylesheets\\MainSystem\\style.css' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous")
    script(src="javascripts/MainSystem/mainSystemOnReady.js")
    script(src="javascripts/MainSystem/FoodClass.js")
    script(src="javascripts/MainSystem/PlayerClass.js")
    //script(disable-devtool-auto src="https://cdn.jsdelivr.net/npm/disable-devtool")
    script( src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous")
  body
    .main
      .infoZone
        .personalDetail
          .card
            .levelAndTitle
              .level
                p.number 1
              p.title NOOB
            .health
              p(id='name' style="display:none") #{name}
              .healthPoint
        .menuZone
          .button
            img#materialMenu(src='img/line.png')
          .button
            img#hotpotInfo(src='img/hotpot.png')
      .playZone
        .timer(data-time='0') 00:00
        .money 0$
        .hotpot
      .online
        .button.match 匹配
        .chat
          #container
            #status-box
              | Server: 
              span#status -
              |  / 
              span#online 0
              |  online.
            #content
            #send-box
                input#chatBox(type='text' placeholder='說點什麼？')
                input#chatSubmit(type='button' value='送出')
